ErrorDocument 404 https://www.auramgold.com/404

DirectoryIndex index.php
RewriteEngine on
RewriteBase /

# Redirects of .php links to no-extension URLs
RewriteRule index.php https://www.auramgold.com/ [R=301]

# This section is for deprecated non-slug URL redirects
RewriteRule stories/story/[^/]+/KBA8LMQYHMZD2RPM https://www.auramgold.com/writing/reflectivity [R=301]
RewriteRule stories/story/[^/]+/2G8DOKNF1LXP58PQ https://www.auramgold.com/writing/felidae [R=301]
RewriteRule stories/story/[^/]+/8B9NPGMXSS3TKKNS https://www.auramgold.com/writing/non-hostile-intrusion [R=301]
RewriteRule stories/story/[^/]+/WB02SIL4DY5ZM878 https://www.auramgold.com/writing/sensations [R=301]
RewriteRule stories/story/[^/]+/B6XYOFDLTUGG6VML https://www.auramgold.com/writing/another-day [R=301]
RewriteRule stories/story/[^/]+/3PNXGYQV61J4DDN0 https://www.auramgold.com/writing/dungeon [R=301]
RewriteRule stories/story/[^/]+/6UX1S1JBWZK7NXW1 https://www.auramgold.com/writing/red [R=301]

RewriteRule writing/([^/]+)/?$ story.php?slug=$1 [L,QSA]
RewriteRule stories/?$ stories.php?page=1 [L,QSA]
RewriteRule stories/page/(\d+)/?$ stories.php?page=$1 [L,QSA]
#RewriteRule stories/story/[^/]+/([A-Za-z0-9]+)?.*$ story.php?id=$1 [L,QSA]
RewriteRule authors/?$ authors.php [L,QSA]
RewriteRule authors/(\d+)/?$ authors.php?page=$1 [L,QSA]
RewriteRule authors/author/[^/]+/([A-Za-z0-9]+)/?$ author.php?id=$1&page=1 [L,QSA]
RewriteRule authors/author/[^/]+/([A-Za-z0-9]+)/page/(\d+)/?$ author.php?id=$1&page=$2
RewriteRule series/?$ /errors/404.php [R=404]
RewriteRule series/page/(\d+)/?$ /errors/404.php [R=404]
RewriteRule series/series/[^/]+/([A-Za-z0-9]+)/?$ /errors/404.php[R=404]
RewriteRule series/series/[^/]+/([A-Za-z0-9]+)/page/(\d+)/?$ /errors/404.php [R=404]
RewriteRule settings/?$ settings.php [L,QSA]
RewriteRule licensing/?$ licensing.php [L,QSA]

RewriteCond %{REQUEST_URI} ^/404/?$
RewriteRule ^(.*)$ /errors/404.php [L]