a:not(.no-display) {
	color: #ffdd33;
}

a:not(.no-display):visited {
	color: #e6bf00;
}

body {
	color: #f0f0f0;
	background: linear-gradient(#333333 30%,#383838 50%, #444444 90%);
	background-repeat: no-repeat;
	background-color: #444444;
}

header#top{
	background: linear-gradient(#ffdd33 45%,#ECCE33 55%,#DABE33 65%, #333333);
	color: black;
}

.story-heading {
	border: 2px solid white;
}

article {
	background: #333333;
}

section.story-extra-info > section:not(:first-child) {
	border-color: white;
}

.pagenav > :not(:last-child) {
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.pagenav > :last-child {
	border: 1px solid white;
}

.story-heading > section:not(:first-child){
	border-top: 1px solid white;
}

hr {
	border-color: white;
	color: white;
}

.main-border {
	border: 2px solid white;
}

.story-footer {
	border-top-color: white;
}

@media (max-width:849px) {
	header#top{
		background: linear-gradient(#ffdd33 80%, #333333);
	}
	
	body {
		background: linear-gradient(#333333 60%, #444444 90%);
		background-repeat: no-repeat;
		background-color: #444444;
	}
}