a:not(.no-display) {
	color: #0066cc;
}

a:not(.no-display):visited {
	color: #003366;
}

header#top{
	background: linear-gradient(#66b3ff 35%,#8bc3fa 65%, #eeeeee);
	color: black;
}

.nav-item{
	background-color: #66b3ff;
}

article {
	background: #f8f8ff;
}

@media (min-width:850px) {
	.nav-item {
		border: 1px solid #335a80;
	}
}

@media (max-width:849px) {
	header#top{
		background: linear-gradient(#66b3ff 80%, #eeeeee);
	}
	
	.nav-item, .nav-item:hover{
		background-color: rgba(102, 179, 255, 0.4)
	}
}