html {
	box-sizing: border-box;
}

header, main, article, section, footer, nav {
	display: block;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a:not(.no-display) {
	color: #776508;
}

a:not(.no-display):visited {
	color: #302803;
}

a.no-display {
	text-decoration: none;
	color: inherit;
}

ul.no-display, ol.no-display {
	padding-left: 0;
	margin-right: 0;
}

ul.no-display > li, ol.no-display > li {
	list-style-type: none;
	display: block;
}

hr {
	width: 100%;
}

label {
	display: block;
}

body {
	width: 100%;
	line-height: 1.5em;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	margin-bottom: -1px;
	padding: 0;
	font-family: "Segoe UI", Arial, sans-serif;
	height: 100vh;
	background: linear-gradient(#eeeeee 30%,#f8f8f8 50%, #ffffff 90%);
	background-repeat: no-repeat;
	background-color: #ffffff;
}

header#top{
	width: 100%;
	height: 8vh;
	min-height: 100px;
	padding: 5px 10px 1em;
	background-color: #ffdd33;
	background: linear-gradient(#ffdd33 35%,#fae266 60%, #eeeeee);
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
}

#headerwrap{
	max-width: 1600px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
}

#toplogo {
	font-size: 2rem;
	font-weight: 700;
}

.handwriting {
	font-family: "Segoe Script", "Courier New", Courier, monospace;
}

header nav {
	display: flex;
	height: 8vh;
	min-height: 100px;
	align-items: flex-start;
	flex-grow: 1;
}

#header-nav-list {
	margin-top: 0;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-around;
	align-items: flex-start;
}

.nav-item {
	font-weight: 700;
	min-width: 6.5em;
	display: block;
	text-align: center;
	height: 80%;
	background: #ffdd33;
	border-radius: 0 0 50% 50%;
	transition: height;
	transition-duration: 0.5s;
}

.nav-item > a {
	margin-top: 0;
	padding: 1em 1.5em 0.5em;
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: padding-top;
	transition-duration: 0.5s;
}

main#body, article#body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1vh;
	max-width: 850px;
	margin: 0 2em;
	flex-grow: 1;
	flex-shrink:0;
	flex-basis: content;
}

.main-border {
	margin: 0.5em 0 1em;
	border: 2px solid black;
	padding: 0.5em 0.5em 0.25em;
	border-radius: 20px;
	border-bottom: none;
}

p {
	width: 100%;
	text-indent: 2em;
}

@media (min-width:850px) {
	.nav-item {
		border: 1px solid #776508;
	}
	
	.nav-item:hover {
		transition: height;
		height: calc(80% + 1em);
		transition-duration: 1s
	}
	
	.nav-item:hover > a {
		transition: padding-top;
		padding-top: 2em;
		transition-duration: 1s;
	}
}

@media (max-width:849px) {
	header#top{
		margin:0;
		width: 100%;
		background: linear-gradient(#ffdd33 80%, #eeeeee);
		height: 15em;
		max-height: 60vh;
		flex-grow: 1;
		justify-content: flex-start;
		flex-direction: column;
	}
	
	#toplogo {
		padding-bottom: 0.25em;
		font-size: 1em;
	}
	
	#headerwrap {
		margin: 0;
		width: 100%;
		flex-direction:column;
		justify-content: flex-start;
		align-items: center;
		height: 80%;
	}
	
	header nav {
		margin-top: 0;
		padding-top: 0;
		width: 100%;
		flex-direction: column;
		justify-content:flex-start;
		align-items: center;
		margin-bottom: 3vh;
		flex-grow: 2;
	}
	
	#header-nav-list {
		width: 100%;
		flex-direction: column;
		flex-shrink: 0;
	}
	
	.nav-item {
		margin: 0;
		width: 100%;
		min-height: 1.1rem;
		flex-grow: 1;
		padding-top: 0.05em;
		border-radius: 0;
		border-top: 1px solid black;
		transition: background-color 0.5s;
		background-color: rgba(255, 221, 51, 0.4);
	}
	
	.nav-item:hover {
		background-color: rgba(255, 234, 128, 0.6);
	}
	
	.nav-item > a {
		padding: 0.05em 0;
	}
	
	.nav-item:last-child {
		border-bottom: 1px solid black;
	}
	
	body {
		background: linear-gradient(#eeeeee 60%, #ffffff 90%);
		background-repeat: no-repeat;
		background-color: #ffffff;
	}
}
